version: 2
updates:
  - package-ecosystem: "gradle"
    directory: "/"
    schedule:
      interval: "monthly"
    ignore:
      - dependency-name: "com.nimbusds:nimbus-jose-jwt"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
