name: Run unit tests

permissions:
  contents: read

on:
  pull_request:
    types:
      [ opened, reopened, edited, synchronize ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@017a9effdb900e5b5b2fddfb590a105619dca3c3 # v4.4.2

    - name: Test
      run: ./gradlew test

    - name: Publish test report on failure
      uses: actions/upload-artifact@v4
      if: failure()
      with:
        name: test-report
        path: build/reports
        if-no-files-found: ignore
        retention-days: 1
