name: Run unit tests

permissions:
  contents: read

on:
  pull_request:
    types:
      [ opened, reopened, edited, synchronize ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5

    - name: Set up JDK 21
      uses: actions/setup-java@v5
      with:
        java-version: '21'
        distribution: 'temurin'

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0

    - name: Test
      run: ./gradlew test

    - name: Publish test report on failure
      uses: actions/upload-artifact@v5
      if: failure()
      with:
        name: test-report
        path: build/reports
        if-no-files-found: ignore
        retention-days: 1
